.back{width: 20%;border: 3px solid black;font-size: 30px;text-align: center;padding-right: 20px;font-weight: 800;background-color:red;margin: 0 auto;}
    .back a{text-decoration: none;color : black;}
